.greetings
  max-width 800px
  border-spacing 10px
  .body
    display flex
    .img
      width 200px
      height 200px
      background url('http://placehold.it/200x200') no-repeat center center
      background-size cover
    p
      width 400px
      margin 10px
      height 180px
      overflow-x hidden
      overflow-y scroll
  .top
    display flex
    height 80px
    font-size 20px
    color colortext
    .cel
      line-height 80px
    .l
      margin-left 5px
      flex-grow 2
    .line
      position relative
      top 40px
      border-top 2px solid colortext
