.seven
  display flex
  flex-direction column
  background colortext
  h2
    width 100%
    background #742730
    color white
    padding-top 10px
    padding-bottom 10px
    text-align center
    margin 0
  .normal
    max-width 700px
    margin auto
    display flex
    flex-flow row wrap
    align-content space-around
    justify-content space-around
    padding 10px
    .el
      background white
      width 120px
      height 40px
      border-radius 10px
      margin 5px
