.six
  .block
    width 100%
    display flex
    margin-bottom 20px
    .cont
      width 80%
      display flex
      margin-left 10%
      .men:not(:last-child)
        border-right 2px solid #eee
      .men
        width 200px
        height 250px
        margin 0
        text-align center
        color grey
        .name
          margin-top 30px
        .ava
          margin-top 10px
          width 80px
          border-radius 50%
        .txt
          margin-top 5px
          font-size .7em
    .str
      width 30px
      height 30px
      border-radius 50%
      background colortext
      margin auto
  hr
    width 90%
    margin auto
    margin-top 50px
    margin-bottom 20px
    border-top 4px solid colortext
