.two
  width 90%
  margin-left 5%
  display flex
  justify-content space-between
  background white
  .right
    margin-top 20px
    img
      max-width 800px
      min-width 300px
      width auto
  .left
    margin-top 20px
    display flex
    flex-direction column
    h2
      font-family Arial Black
      margin 0
    .b
      font-size 1.9em
    .lab
      width 240px
      margin-top 10px

@media screen and (max-width: 920px)
  .two
    display flex
    flex-direction column
    justify-content flex-start
    padding-bottom 20px
