.section.four
  object(type="image/svg+xml" data="/img/tablica-01.svg" style='width:90%;margin-left:5%;margin-bottom: 10px')
  //object(src='/img/tablica-01.svg', style='width:90%;margin-left:5%;margin-bottom: 10px')
