html
  head
    title site
    meta(name="viewport", content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet",href="http://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css",type="text/css")
    style
      :stylus
        @import "../public/style.styl"
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  body
    include header.jade
    include one.jade
    include two.jade
    include three.jade
    include four.jade
    include five.jade
    include six.jade
    include seven.jade
    include footer.jade
