style
  :stylus
    @import "../public/main.styl"
    @import "../css/six.styl"
.section.six
  hr
  .block
    svg.str.l#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
      style(type='text/css').
        .st0{fill:#951a1d;}
        .st1{fill:#FFFFFF;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st2{fill:#951a1d;stroke:#951a1d;stroke-linejoin:round;stroke-miterlimit:10;}
      rect.st0(x='-1', y='-0.9', width='32.5', height='32.8')
      polygon.st1(points='20.7,6.3 10,15.6 20.7,25')
      polygon.st2(points='23.6,6 12.5,15.6 23.6,25.3')
    .cont#cont
    svg.str.r#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
      style(type='text/css').
        .st0{fill:#951a1d;}
        .st1{fill:#FFFFFF;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st2{fill:#951a1d;stroke:#951a1d;stroke-linejoin:round;stroke-miterlimit:10;}
      rect.st0(x='-1', y='-0.9', width='32.5', height='32.8')
      polygon.st1(points='10,6.3 20.7,15.6 10,25 ')
      polygon.st2(points='7.5,6 18.6,15.6 7.5,25.3 ')
  script(src='js/men.js')
