style
  :stylus
    @import "../public/main.styl"
    @import "../css/two.styl"
.section
  .two
    .left
      h2.s Ready to test
      h2.b YOUSELF?
      img.lab(src='/img/3.jpg')
      img.lab(src='/img/4.jpg')
    .right
      include ../components/greetings.jade
      //img(src='/img/rightw.png')
