style
  :stylus
    @import "../public/main.styl"
    @import "../css/greetings.styl"

.greetings
  .top
    .cel
      span GREETINGS
    .cel.l
      .line
  .body
    .img
    p <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit. Nam at turpis vitae magna dignissim eleifend vitae vel purus. Pellentesque venenatis velit nisi. In consectetur sem sit amet ligula viverra suscipit. Cras egestas, dui et interdum suscipit, ligula lorem pretium tellus, eu maximus magna ante in est. Nam gravida porttitor ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices tempor iaculis. Nam metus eros, congue ullamcorper elementum luctus, auctor quis ex. Vivamus sagittis sapien metus, quis sodales velit commodo ac. Fusce in ornare nibh. Sed laoreet nulla at nulla porttitor iaculis. Vivamus ut dignissim arcu. Ut scelerisque tellus dolor, eu varius leo elementum sed. Morbi vitae cursus eros, id consectetur mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam feugiat ligula arcu, id finibus diam elementum et. Cras ac viverra lectus. Integer eu finibus ex. Ut ac lacinia diam, id egestas massa. Nulla lectus diam, tristique at luctus ut, egestas vitae libero. Nunc sit amet diam rhoncus, commodo nibh a, luctus tellus. Vestibulum pharetra tellus ac lacus dignissim pulvinar. Nulla vitae lectus vitae ipsum vestibulum elementum vel nec elit. Vivamus ex purus, fringilla at nisl et, tincidunt pharetra ligula. Vivamus eros mi, maximus in condimentum in, tristique et lorem. Proin feugiat molestie sem, eu egestas ipsum imperdiet id. Donec vel nulla vestibulum, viverra leo ut, aliquet neque. In lobortis egestas sem et vulputate. Nam vel risus id orci viverra venenatis ut eget odio. Sed accumsan tristique nibh, vel lacinia risus malesuada ut. Nam tincidunt eu dui eget elementum. Curabitur ultrices metus velit, ut bibendum nunc iaculis id. Aliquam tristique sodales nisl viverra vestibulum. Suspendisse finibus fermentum pellentesque. Sed commodo libero nec risus venenatis ultrices. Praesent feugiat volutpat quam, quis laoreet est vulputate at. Mauris porta quis mauris eu condimentum. Pellentesque a ligula tellus. Maecenas sed tristique turpis.
